---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PetCare Software</title>
	</head>
	<body>
		<h1>PetCare Software</h1>
		<p>Coming soon...</p>
	</body>
</html>
